nav {
    flex: 10;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    position: relative;
    list-style-type: none;
    padding-left: 0pt;
    margin: 0pt 15pt;
}

ul li {
    display: block;
    position: relative;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
    font-size: 7pt;
    line-height: 16pt;
    margin: auto 0;
    text-align: center;
}