nav {
    flex: 10;
    display: flex;
    align-items: flex-start;
    margin-top: 10%;
}

ul {
    display: flex;
    flex-direction: column;
    position: relative;
    list-style-type: none;
    padding-left: 0pt;
    margin: 0pt 15pt;
    margin-top: -10%;
}