header h3 {
    font-size: '50px'
}

.secondary-header {
    font-family: 'Montserrat', 'sans-serif';
    font-weight : 400;
    font-size: 25pt;
    text-transform: uppercase;
}

.catchline {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
    font-size: 15pt;
}