ul li {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
    font-size: 7pt;
    line-height: 10pt;
    margin: auto 0;
    text-align: center;
}

ul li a,
ul li a:hover,
ul li a:visited,
ul li a:active {
    color: #fff;
    text-decoration: none;
}

ul li .sidebar-item-bottom-border {
    transition: all 0.25s ease-out;
    transform: scaleX(0.1);
}

ul li:hover .sidebar-item-bottom-border {
    transform: scaleX(1);
}