.contact-container {
    padding: 0 15pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-container .item-bottom-border {
    transition: all 0.25s ease-out;
    transform: scaleX(0.5);
}

.contact-container:hover .item-bottom-border {
    transform: scaleX(1);
}

.contact-container a {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 6pt;
    line-height: 10pt;
    color : #fff;
    text-decoration: none;
    text-align: center;
}

.contact-container a:hover,
.contact-container a:active,
.contact-container a:visited {
    color : #fff;
}